/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.jumbotron {
	background-image: url(city-sky-lights-night.jpg);
	background-position: center;
	background-size: cover;
	margin-bottom: 0px;
	padding-right: 0px;
}
.navbar-default {
	background-color: #4d79ff;
	min-height: 80px;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-left: 0px;
}

.navbar-default .navbar-brand {
	color: #ffffff;
	font-weight: bold;
	font-size: 30px;
	padding-right: 90px;
}

.jumbotron h1, p {
	text-align: center;
	padding-top: 10px;
	font-weight: 800;
	color: #ffffff;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:focus {
	color:#ffffff;
	background-color:transparent;
	font-weight: bold;
	font-size: 16px;
}
.front_page_sign_up {
	background-color:transparent;
	position: relative;
	padding-left: 1030px;
}
.UserFrontInfo {
	position: relative;
	padding-right: 1090px;
	margin-right: 100px;
	color: black;
}
body {
	background-image: url(city-sky-lights-night.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#TweetsFrontPageCenter {
	margin-bottom: 110px;
}
.chinx_page_titles {
	color: #ffffff;
	padding-left: 350px;
}
.profile_page {
 float: left;
 text-align: left;
}
.Trending_Title {
	text-align: center;
}
#About_Me {
	color:black;
}
.Logo_css {
	margin-bottom: 90px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.navbar-header {
	padding-right:10px;
}
/*FOOTER STYLES*/
footer {
text-align: center;
color: #1aa3ff;
position: absolute;
bottom: 0;
width: 100%;
height: 40px;
}
